<form class="form-container" [formGroup]="changePasswordForm">
  
  <ion-input
    [label]="'commons.inputs.password.label' | translate"
    label-placement="floating"
    fill="outline"
    [placeholder]="'commons.inputs.password.placeholder' | translate"
    type="password"
    formControlName="pass">
  </ion-input>

  <ion-input
    [label]="'commons.inputs.repeatPassword.label' | translate"
    label-placement="floating"
    fill="outline"
    [placeholder]="'commons.inputs.repeatPassword.placeholder' | translate"
    type="password"
    formControlName="repeteadPass">
  </ion-input>

  <app-pass-verifier [value]="changePasswordForm.value.pass || ''" [valueVerifier]="changePasswordForm.value.repeteadPass || ''"></app-pass-verifier>
  
  <ion-button
    shape="round"
    expand="block"
    [disabled]="!changePasswordForm.valid || (changePasswordForm.value.pass && changePasswordForm.value.repeteadPass && changePasswordForm.value.pass !== changePasswordForm.value.repeteadPass)"
    (click)="changePassHandler()">{{ 'commons.buttons.changePassword' | translate }}</ion-button>
</form>
