ion-input {
    margin-bottom: 10px;
    width: 100%;
}

ion-item {
    width: 100%;
}

ion-icon {
    color: white;
    position: absolute;
    margin: 15px 10px !important;
    background-color: transparent;
    font-size: 27px;
    right: 0;
    z-index: 999999;
}